tests/Fixtures/pit38_minimal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Minimal structural XSD for PIT-38 (wariant 18) e-Deklaracje XML.

    This is a hand-crafted structural validator — NOT the official MF schema.
    Official schema: http://crd.gov.pl/wzor/2025/10/09/13914/schemat.xsd
    Official schema (local): tests/Fixtures/official_xsd/schemat.xsd

    Purpose: guard against structural regressions in PIT38XMLGenerator:
      - correct root element and namespace
      - mandatory header fields (KodFormularza, WariantFormularza, CelZlozenia, Rok)
      - taxpayer block (NIP in etd: namespace, ImiePierwsze, Nazwisko)
      - required PozycjeSzczegolowe fields: P_26, P_27, P_28|P_29, P_31, P_32, P_33, P_51|P_52
      - Pouczenia (always required)

    Key structural facts (per official XSD):
      - OsobaFizyczna children (NIP, ImiePierwsze, Nazwisko, DataUrodzenia) are in the ETD namespace
        (etd: = http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2022/09/13/eD/DefinicjeTypy/)
        because TIdentyfikatorOsobyFizycznej1 is defined there with elementFormDefault=qualified.
        We declare these as global elements in the etd: namespace below so that ref= works.
      - P_26/P_27 always required; P_28 XOR P_29 always required.
      - P_31/P_32/P_33 always required (part of mandatory sequence in official XSD).
      - P_51 XOR P_52 always required.
      - P_41/P_42/P_43 group is optional as a whole (emitted only when hasCrypto).
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://crd.gov.pl/wzor/2025/10/09/13914/"
           xmlns:etd="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2022/09/13/eD/DefinicjeTypy/"
           targetNamespace="http://crd.gov.pl/wzor/2025/10/09/13914/"
           elementFormDefault="qualified">

    <!-- ================================================================
         Root element
         ================================================================ -->
    <xs:element name="Deklaracja" type="tns:DeklaracjaType"/>

    <!-- ================================================================
         Deklaracja (root)
         ================================================================ -->
    <xs:complexType name="DeklaracjaType">
        <xs:sequence>
            <xs:element name="Naglowek"           type="tns:NaglowekType"/>
            <xs:element name="Podmiot1"            type="tns:Podmiot1Type"/>
            <xs:element name="PozycjeSzczegolowe"  type="tns:PozycjeSzczegoloweType"/>
            <xs:element name="Pouczenia"           type="tns:PouczeniType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ================================================================
         Naglowek
         ================================================================ -->
    <xs:complexType name="NaglowekType">
        <xs:sequence>
            <xs:element name="KodFormularza"    type="tns:KodFormularzaType"/>
            <xs:element name="WariantFormularza" type="tns:WariantFormularzaType"/>
            <xs:element name="CelZlozenia"       type="tns:CelZlozeniaPodType"/>
            <xs:element name="Rok"               type="tns:RokType"/>
            <!-- KodUrzedu wymagany przez oficjalny XSD, opcjonalny tutaj -->
            <xs:element name="KodUrzedu"         type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KodFormularzaType">
        <xs:simpleContent>
            <xs:extension base="tns:KodFormularzaValueType">
                <xs:attribute name="kodSystemowy"       type="xs:string" use="required"/>
                <xs:attribute name="kodPodatku"         type="xs:string" use="required"/>
                <xs:attribute name="rodzajZobowiazania" type="xs:string" use="required"/>
                <xs:attribute name="wersjaSchemy"       type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="KodFormularzaValueType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PIT-38"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="WariantFormularzaType">
        <xs:restriction base="xs:byte">
            <xs:enumeration value="18"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="CelZlozeniaPodType">
        <xs:simpleContent>
            <xs:extension base="tns:CelZlozeniaValueType">
                <xs:attribute name="poz" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- 1 = pierwotna, 2 = korygujaca -->
    <xs:simpleType name="CelZlozeniaValueType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RokType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="2000"/>
            <xs:maxInclusive value="2100"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ================================================================
         Podmiot1 (taxpayer)
         OsobaFizyczna children are in the ETD namespace because the type
         TIdentyfikatorOsobyFizycznej1 is defined in the etd: schema with
         elementFormDefault="qualified".
         We use xs:any with namespace="##other" to accept any child elements
         from namespaces other than tns: (i.e. etd: elements are accepted).
         ================================================================ -->
    <xs:complexType name="Podmiot1Type">
        <xs:sequence>
            <xs:element name="OsobaFizyczna"       type="tns:OsobaFizycznaType"/>
            <!-- AdresZamieszkania wymagane przez oficjalny XSD, opcjonalne tutaj -->
            <xs:element name="AdresZamieszkania"   type="tns:AdresZamieszkaniType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="rola" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="OsobaFizycznaType">
        <!-- Accept any content: NIP/ImiePierwsze/Nazwisko/DataUrodzenia are in etd: namespace -->
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AdresZamieszkaniType">
        <xs:sequence>
            <xs:element name="AdresPol" type="tns:AdresPolType"/>
        </xs:sequence>
        <xs:attribute name="rodzajAdresu" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="AdresPolType">
        <xs:sequence>
            <xs:element name="KodKraju"     type="xs:string"/>
            <xs:element name="Wojewodztwo"  type="xs:string"/>
            <xs:element name="Powiat"       type="xs:string"/>
            <xs:element name="Gmina"        type="xs:string"/>
            <xs:element name="Ulica"        type="xs:string" minOccurs="0"/>
            <xs:element name="NrDomu"       type="xs:string"/>
            <xs:element name="NrLokalu"     type="xs:string" minOccurs="0"/>
            <xs:element name="Miejscowosc"  type="xs:string"/>
            <xs:element name="KodPocztowy"  type="tns:KodPocztowyType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- KodPocztowy: format XX-XXX -->
    <xs:simpleType name="KodPocztowyType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{2}-\d{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ================================================================
         PozycjeSzczegolowe
         Odzwierciedla faktyczne zachowanie generatora:
           - Zawsze wymagane: P_26, P_27, P_28|P_29, P_31, P_32, P_33, P_51|P_52
           - Opcjonalne: P_20/P_21, P_35, P_36..P_45, P_47..P_50
         ================================================================ -->
    <xs:complexType name="PozycjeSzczegoloweType">
        <xs:sequence>
            <!-- Opcjonalna grupa P_20/P_21 -->
            <xs:element name="P_20" type="tns:AmountType" minOccurs="0"/>
            <xs:element name="P_21" type="tns:AmountType" minOccurs="0"/>
            <!-- Zawsze wymagane: P_26/P_27 (razem przychody i koszty) -->
            <xs:element name="P_26" type="tns:AmountType"/>
            <xs:element name="P_27" type="tns:AmountType"/>
            <!-- P_28 (dochod) XOR P_29 (strata) — zawsze wymagany jeden z nich -->
            <xs:choice>
                <xs:element name="P_28" type="tns:AmountType"/>
                <xs:element name="P_29" type="tns:AmountType"/>
            </xs:choice>
            <!-- Zawsze wymagane: P_31/P_32/P_33 -->
            <xs:element name="P_31" type="tns:AmountType"/>
            <xs:element name="P_32" type="tns:AmountType"/>
            <xs:element name="P_33" type="tns:AmountType"/>
            <!-- P_35 opcjonalny -->
            <xs:element name="P_35" type="tns:AmountType" minOccurs="0"/>
            <!-- Opcjonalna sekcja kryptowalut -->
            <xs:element name="P_36" type="tns:AmountType" minOccurs="0"/>
            <xs:element name="P_37" type="tns:AmountType" minOccurs="0"/>
            <xs:element name="P_39" type="tns:AmountType" minOccurs="0"/>
            <xs:element name="P_40" type="tns:AmountType" minOccurs="0"/>
            <!-- P_41/P_42/P_43 opcjonalna grupa (tylko gdy hasCrypto) -->
            <xs:element name="P_41" type="tns:AmountType" minOccurs="0"/>
            <xs:element name="P_42" type="tns:AmountType" minOccurs="0"/>
            <xs:element name="P_43" type="tns:AmountType" minOccurs="0"/>
            <xs:element name="P_45" type="tns:AmountType" minOccurs="0"/>
            <!-- Dywidendy zagraniczne -->
            <xs:element name="P_47" type="tns:AmountType" minOccurs="0"/>
            <xs:element name="P_48" type="tns:AmountType" minOccurs="0"/>
            <xs:element name="P_49" type="tns:AmountType" minOccurs="0"/>
            <!-- P_51 XOR P_52 — zawsze wymagany jeden z nich -->
            <xs:choice>
                <xs:element name="P_51" type="tns:AmountType"/>
                <xs:element name="P_52" type="tns:AmountType"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <!-- ================================================================
         Pouczenia — wymagane, wartosc "1" oznacza potwierdzenie
         ================================================================ -->
    <xs:simpleType name="PouczeniType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Decimal amount: optional minus, digits, optional decimal part -->
    <xs:simpleType name="AmountType">
        <xs:restriction base="xs:string">
            <xs:pattern value="-?[0-9]+(\.[0-9]+)?"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
